*{

font-family:"Montserrat",sans-serif;

}

.eventoSanitario{

margin-left:320px;

width:calc(100% - 320px);

min-height:100vh;

background:#F2F4F5;

padding:50px;

}


.eventoSanitario h1{

font-size:3rem;

color:#082C54;

margin-bottom:10px;

}


.subtitulo{

color:#666;

margin-bottom:40px;

}


.eventoTop{

display:grid;

grid-template-columns:1fr 320px;

gap:40px;

align-items:start;

margin-bottom:50px;

}


.formularioEvento,

.resumenEvento{

background:white;

padding:35px;

border-radius:25px;

box-shadow:

0 8px 30px rgba(0,0,0,.08);

}


.formularioEvento{

display:flex;

flex-direction:column;

gap:20px;

}


.formularioEvento input,

.formularioEvento select,

.formularioEvento textarea{

padding:18px;

border:

1px solid #ddd;

border-radius:15px;

outline:none;

font-size:1rem;

}


.formularioEvento textarea{

height:120px;

resize:none;

}


.btnGuardar{

background:#76B82A;

color:white;

border:none;

padding:18px;

border-radius:15px;

font-weight:700;

cursor:pointer;

}


.btnGuardar:hover{

background:#5E9B1E;

}


.resumenEvento h2{

color:#082C54;

margin-bottom:25px;

}


.dato{

margin-bottom:25px;

}


.dato span{

color:#666;

}


.dato h3{

font-size:4.0rem;

color:#082C54;

margin-top:56px;

}


.amarillo{

color:#F39C12;

}


.verde{

color:#76B82A;

}


.tituloTabla{

margin-bottom:20px;

color:#082C54;

}


.tablaEventos{

background:white;

border-radius:25px;

overflow:hidden;

box-shadow:

0 8px 30px rgba(0,0,0,.08);

}


table{

width:100%;

border-collapse:collapse;

}


thead{

background:#082C54;

color:white;

}


th,

td{

padding:20px;

text-align:left;

}


tbody tr{

border-bottom:

1px solid #eee;

}