*{

font-family:"Montserrat",sans-serif;

}

.pesaje{

margin-left:320px;

width:calc(100% - 320px);

min-height:100vh;

background:#F2F4F5;

padding:50px;

}


.pesaje h1{

font-size:5rem;

color:#082C54;

margin-bottom:10px;

}


.subtitulo{

color:#666;

margin-bottom:40px;

}


.pesajeTop{

display:grid;

grid-template-columns:1fr 350px;

gap:30px;

align-items:start;

}


.formularioPesaje,

.resumen{

background:white;

padding:35px;

border-radius:25px;

box-shadow:

0 8px 30px rgba(0,0,0,.08);

}


.formularioPesaje{

display:flex;

flex-direction:column;

gap:20px;

}


.formularioPesaje input,

.formularioPesaje select,

.formularioPesaje textarea{

padding:18px;

border:

1px solid #ddd;

border-radius:15px;

outline:none;

font-size:1rem;

}


.formularioPesaje textarea{

height:120px;

resize:none;

}


.btnGuardar{

background:#76B82A;

color:white;

border:none;

padding:18px;

border-radius:15px;

font-weight:700;

cursor:pointer;

transition:.3s;

}


.btnGuardar:hover{

transform:translateY(-2px);

}


.resumen h2{

color:#082C54;

margin-bottom:25px;

}


.dato{

margin-bottom:25px;

}


.dato span{

color:#666;

font-size:.9rem;

}


.dato h2{

font-size:2.5rem;

color:#082C54;

margin-top:20px;

}


.verde{

color:#76B82A;

}


.tituloTabla{

margin-top:50px;

margin-bottom:25px;

color:#082C54;

}


.tablaPesajes{

background:white;

border-radius:25px;

overflow:hidden;

box-shadow:

0 8px 30px rgba(0,0,0,.08);

}


table{

width:100%;

border-collapse:collapse;

}


thead{

background:#082C54;

color:white;

}


th,

td{

padding:20px;

text-align:left;

}


tbody tr{

border-bottom:

1px solid #eee;

}