.sidebar{

width:300px;

height:100vh;

position:fixed;

left:0;

top:0;

background:#070e27;

padding:40px 20px;

border-right:1px solid rgba(255,255,255,.08);

overflow-y:auto;

overflow-x:hidden;

}


.logo{

font-family:"Montserrat",sans-serif;

font-size:4rem;

font-weight:800;

color:#76B82A;

margin-bottom:60px;

}


.sidebar nav{

display:flex;

flex-direction:column;

gap:20px;

}


.sidebar a{

text-decoration:none;

color:white;

font-family:"Montserrat",sans-serif;

font-size:18px;

font-weight:700;

padding:18px 30px;

border-radius:20px;

border:2px solid transparent;

transition:all 0.3s ease;

}


.sidebar a:hover{

background:rgba(118,184,42,.12);

border:2px solid #76B82A;

}


.sidebar a.activo{

background:rgba(118,184,42,.12);

border:2px solid #76B82A;

color:white;

}

.btnLogout{

width: 100%;

padding: 15px;

margin-top: 40px;

background: transparent;

border: 2px solid #7BC11F;

border-radius: 15px;

color: white;

font-size: 18px;

font-weight: 600;

cursor: pointer;

transition: .3s;

}

.btnLogout:hover{

background: #7BC11F;

color: #001B44;

}

/* ==================== */
/* CELULAR */
/* ==================== */


/* BOTON HAMBURGUESA */

.menuBtn{

display:none;

}


/* MOBILE */

@media (max-width:768px){

.menuBtn{

display:flex;

position:fixed;

top:15px;

left:15px;

z-index:2000;

width:50px;

height:50px;

border:none;

border-radius:50%;

background:#082C54;

color:white;

font-size:22px;

justify-content:center;

align-items:center;

box-shadow:

0 5px 20px rgba(0,0,0,.25);

}


.sidebar{

position:fixed;

top:0;

left:-100%;

width:280px;

height:100vh;

z-index:1500;

transition:.35s;

padding-top:90px;

}


.sidebar.abierta{

left:0;

}


.logo{

font-size:3rem;

text-align:center;

margin-bottom:40px;

}


.sidebar nav{

gap:15px;

}


.sidebar a{

font-size:20px;

padding:18px;

text-align:center;

}


.btnLogout{

margin-top:25px;

}

}

/* ==================== */
/* MOBILE */
/* ==================== */

.menuBtn{

display:none;

}

@media(max-width:768px){

.menuBtn{

display:flex;

position:fixed;

top:15px;

left:15px;

z-index:3000;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#082C54;

color:white;

font-size:24px;

justify-content:center;

align-items:center;

box-shadow:

0 5px 20px rgba(0,0,0,.25);

}


/* SIDEBAR */

.sidebar{

position:fixed;

top:0;

left:-280px;

width:280px;

height:100vh;

background:#070e27;

padding:90px 20px 30px;

z-index:2500;

transition:.35s;

overflow-y:auto;

}

.sidebar.abierta{

left:0;

}


/* LOGO */

.logo{

font-size:3rem;

text-align:center;

margin-bottom:40px;

}


/* LINKS */

.sidebar nav{

gap:15px;

}

.sidebar a{

font-size:18px;

padding:18px;

text-align:center;

}


/* BOTON */

.btnLogout{

margin-top:30px;

}

}