*{

font-family:"Montserrat",sans-serif;

}

.vacunaciones{

margin-left:290px;

width:calc(100% - 280px);

min-height:100vh;

background:#ffffff;

padding:50px;

}


.vacunaciones h1{

font-size:3rem;

color:#082C54;

margin-bottom:10px;

}


.subtitulo{

color:#666;

margin-bottom:40px;

}


.vacunacionTop{

display:grid;

grid-template-columns:1fr 320px;

gap:40px;

align-items:start;

margin-bottom:50px;

}


.formularioVacuna,

.resumenVacuna{

background:white;

padding:35px;

border-radius:25px;

margin-top:20px;

box-shadow:

0 8px 30px rgba(0,0,0,.08);

}


.formularioVacuna{

display:flex;

flex-direction:column;

gap:20px;

}


.formularioVacuna input,

.formularioVacuna select,

.formularioVacuna textarea{

padding:18px;

border:

1px solid #ddd;

border-radius:15px;

outline:none;

font-size:1rem;

}


.formularioVacuna textarea{

height:120px;

resize:none;

}


.btnGuardar{

background:#76B82A;

color:white;

border:none;

padding:18px;

border-radius:15px;

font-weight:700;

cursor:pointer;

}


.resumenVacuna h2{

color:#082C54;

margin-bottom:15px;

}


.dato{

margin-bottom:15px;

}


.dato span{

color:#292929;

font-size:.9rem;

}


.dato h1{

font-size:5rem;

color:#082C54;

margin-top:38px;

}


.amarillo{

color:#F39C12;

}


.rojo{

color:#E74C3C;

}


.tituloTabla{

margin-top:20px;

margin-bottom:25px;

color:#082C54;

}


.tablaVacunas{

background:white;

border-radius:25px;

overflow:hidden;

box-shadow:

0 8px 30px rgba(0,0,0,.08);

}


table{

width:100%;

border-collapse:collapse;

}


thead{

background:#082C54;

color:white;

}


th,

td{

padding:20px;

text-align:left;

}


tbody tr{

border-bottom:

1px solid #eee;

}

@media(max-width:768px){

.vacunaciones{

margin-left:0 !important;

width:100% !important;

padding:

90px

20px

30px

20px

!important;

}


/* EL CAMBIO IMPORTANTE */

.vacunacionTop{

display:flex !important;

flex-direction:column !important;

gap:20px;

}


/* LAS DOS TARJETAS */

.formularioVacuna,

.resumenVacuna{

width:100% !important;

max-width:none !important;

box-sizing:border-box;

}


/* TABLA */

.tablaVacunas{

width:100%;

overflow-x:auto;

-webkit-overflow-scrolling:touch;

}

.tablaVacunas table{

min-width:700px;

}


/* TITULO */

.vacunaciones h1{

font-size:2rem;

text-align:center;

}

}