.navbar{

position:fixed;

top:0;

left:300px;

right:0;

height:68px;

background:#082B55;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

z-index:999;

box-shadow:

0 2px 20px

rgba(0,0,0,.15);

}

.navbarLogo{

font-size:34px;

font-weight:800;

color:#79BE24;

}

.navbarBusqueda input{

width:400px;

padding:14px 20px;

border:none;

border-radius:30px;

outline:none;

font-size:15px;

}

.navbarDerecha{

display:flex;

align-items:center;

gap:20px;

color:white;

}

.icono{

width:45px;

height:45px;

border:none;

border-radius:50%;

background:

rgba(255,255,255,.12);

font-size:22px;

cursor:pointer;

transition:.3s;

}

.icono:hover{

transform:scale(1.1);

background:

rgba(255,255,255,.25);

}

.usuario{

width:45px;

height:45px;

border-radius:50%;

background:#79BE24;

display:flex;

justify-content:center;

align-items:center;

font-weight:700;

font-size:20px;

color:white;

}

.iconoNav{

width:42px;

height:42px;

border-radius:50%;

background:#173865;

display:flex;

justify-content:center;

align-items:center;

color:white;

cursor:pointer;

transition:.3s;

}


.iconoNav:hover{

background:#79BE24;

transform:translateY(-2px);

}

.panelNotificaciones{

position:absolute;

top:70px;

right:90px;

width:320px;

background:white;

padding:20px;

border-radius:20px;

box-shadow:

0 10px 30px rgba(0,0,0,.15);

z-index:999;

}

.panelNotificaciones p{

padding:12px 0;

border-bottom:

1px solid #eee;

color:#082C54;

font-size:14px;

}

.perfil{

display:flex;

align-items:center;

gap:12px;

cursor:pointer;

}

.menuPerfil{

position:absolute;

top:75px;

right:20px;

width:240px;

background:white;

border-radius:18px;

padding:10px;

box-shadow:

0 15px 40px rgba(0,0,0,.18);

z-index:999;

}

.menuPerfil p{

display:flex;

align-items:center;

gap:15px;

padding:14px;

margin:4px 0;

font-size:15px;

font-weight:600;

color:#082B55;

border-radius:12px;

cursor:pointer;

transition:.2s;

}

.menuPerfil p:hover{

background:#F3F6F9;

}